body {
    background-color: #7389FF;
    margin: 0;
    padding: 0;
}

#email {
    color: #FFEEDD ;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600px;
    font-size: 700%;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💌</text></svg>") 16 0,auto;
}