body {
  margin: 0;
  padding: 0;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥧</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.dropbtn {
    color: #FFEEDD;
    background: none;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 25px;
    font-family: 'DM Sans', sans-serif;
    border: none;
    font-weight: 500;
    z-index: 1;

}
  
.dropdown {
    position: -webkit-sticky;
    position:sticky;
    top:0;
    display: inline-block;
    float: right;
    z-index: 999;
   
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    font-family: 'DM Sans', sans-serif;
    text-align:right;
    z-index: 3;

  }
  
.dropdown-content a {
    color: #FFEEDD;
    text-decoration: none;
    display: block;
    font-size: 25px;
    justify-items: right;

  }

.show {display:block;}

